<% if (messages.info) { %>
  <p id="infoMessage" class="success-message"><%= messages.info %></p>
<% } %>

<% if (messages.error) { %>
  <p id="errorMessage" style="color: red;"><%= messages.error %></p>
<% } %>

<a href="/view-product/<%= productCode %>/">Back to <%= productCode %></a>

<form action="/view-product/<%= productCode %>/<%= productId %>/upload-images" method="POST" enctype="multipart/form-data">
    <input type="file" name="images" accept="image/*" />
    <button type="submit">Upload</button>
</form>


<div>
  <h3>Images for <%= productCode %></h3>
  <% imageNames.forEach((imageName) => { %>
    <div class="thumbnail">
      <img src="/uploads/<%= imageName.image_name %>" alt="<%= imageName %>">
    </div>
  <% }) %>
</div>

<script>
  // Automatically hide error and info messages after 5 seconds
  setTimeout(() => {
    const errorMessage = document.getElementById('errorMessage');
    const infoMessage = document.getElementById('infoMessage');

    if (errorMessage) {
      errorMessage.style.display = 'none';
    }

    if (infoMessage) {
      infoMessage.style.display = 'none';
    }
  }, 5000);
</script>
